CurrencyToWords.Application/Connected Services/CurrencyToWordsService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Globalization" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CurrencyToWords.Service" />
  <xs:element name="Convert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:double" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Globalization" minOccurs="0" name="cultureInfo" nillable="true" type="q1:CultureInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CurrencyToWords.Service" minOccurs="0" name="ConvertResult" nillable="true" type="q2:ConversionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>